/dist
/dist-modules
/node_modules
/package-lock.json

yarn-error.log

.idea/*
.idea/codeStyles/
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/react-blockly-component.iml
.idea/vcs.xml
